/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

.bg-primary, .bg-primary a {
    color: #FFF !important;
}
a.btn-dark {
    background-color: #ffa822!important;
    color: #211b22!important;
}

H2 .typed {
    color: #ffce86!important;
    color: #ffa822!important;
}

