/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

html {
	background-color: #5B2564 !important;
}

.bg-primary, .bg-primary a {
    color: #FFF !important;
}
.featured-box-icon.bg-primary.rounded-circle {
    color: #ffa822 !important;
}
.featured-box h4 {
    font-weight: 600;
    margin-bottom: -0.6rem!important;
    margin-top: -1rem!important;
}
.btn-dark, a.btn-dark {
    background-color: #ffa822!important;
    color: #211b22!important;
}
H2 .typed {
    color: #ffa822!important;
}
#footer a, #footer a:focus {
    color: #FFF!important;
}
.form-border .form-control {
    border-bottom: 2px solid rgba(225, 225, 225, .4);
	color: #ffa822;
}
.form-border .form-control:focus, .form-border .custom-select:focus {
    border-bottom: 2px solid rgba(225, 225, 225, .8);
}
.nav-pills .nav-link.active, .nav-pills.nav-light .nav-link.active, .nav-pills .show > .nav-link {
    color: #FFF;
}
/*
.border-start.border-2.border-primary.ps-3 h3:before {
    background-color: #5a2564;
}
.border-start.border-2.border-primary.ps-3 h3 {
    margin-left: -18px;
}
.border-start.border-2.border-primary.ps-3 h3:before {
    position: relative;
    top: 0;
    left: -7px;
    width: 10px;
    height: 10px;
    border: 3px solid #FFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    content: " ";
    display: inline-block;
}*/